body {
    margin: 0;
    font-family: "Arial", sans-serif;
    background: #d3eafc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.weather-card {
    margin-top: 25%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 1.5cm;
    height: 7cm;
    width: 15cm;
    text-align: center;
}

.main-card {
    background-image: url("sunny.jpg");
    background-size: cover;
    color: white;
    position: relative;
}

.location-selector {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-weight: bold;
}

.main-weather-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2em;
}

.temp {
    font-size: 3em;
    font-weight: bold;
}

.weather-details {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.hourly-forecast {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.hour-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.9em;
}

.icon.sunny {
    background-image: url("sunny-icon.svg");
}

.icon.partly-cloudy {
    background-image: url("partly-cloudy-icon.svg");
}

.icon.cloudy {
    background-image: url("cloudy-icon.svg");
}

.icon.rain {
    background-image: url("rain-icon.svg");
}

.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover;
}

.secondary-card {
    background-color: #333;
    color: white;
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    font-size: 1.1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.weather-button {
    padding: 12px 24px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 25%;
    transition:
        box-shadow 0.3s ease,
        transform 0.3s ease;
}

.weather-button:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.weather-button:active {
    transform: translateY(0);
}
